[submodule "cc65"]
	path = cc65
	url = https://github.com/cc65/cc65
[submodule "mkd64"]
	path = mkd64
	url = https://github.com/Zirias/c64_tool_mkd64.git
[submodule "first-try/elite-harmless"]
	path = first-try/elite-harmless
	url = https://github.com/Kroc/elite-harmless
[submodule "elite-harmless"]
	path = elite-harmless
	url = https://github.com/Kroc/elite-harmless
[submodule "first-try/vendor/cc65"]
	path = first-try/vendor/cc65
	url = https://github.com/cc65/cc65
